In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import sklearn
import shap

In [2]:
data = pd.read_csv('./data/data_all.csv')
data.head()

,粗醇(t),精醇(t),二甲醚(t),醋酸(t),一厂乙二醇(t),二厂乙二醇(t),液体产品(t),乙腈(t),发电量(万度),一期有效气(万Nm3),...,二期原煤(t),下网电量(万kwh),一期用电量(万度),二期用电量(万度),预脱盐水(t),软化水(t),市政污水处理量(m3/d),新城提升泵供水(m3/d),一期酸脱年耗醇,二期酸脱年耗醇
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,6.0,0.0,0.0,...,0.0,23.0,6.3,17.2,4342.0,44718.0,1336.0,7700.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0,0.0,0.0,...,0.0,25.0,6.4,18.1,2426.0,52730.0,1726.0,8801.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,8.0,0.0,0.0,...,0.0,24.0,6.1,17.7,1248.0,41558.0,2104.0,7970.0,0.0,0.0

In [3]:
new_columns = ['cuchun', 'jingchun', 'erjiami', 'cusuan', 'yichangyierchun', 'erchangyierchun', 'yetichanpin', 'yijing', 'fadianliang', 'yiqiyouxiaoqi', 'erqiyouxiaoqi', 'yierchunqingzufen', 'yierchunzhongzufen', 'ranmei', 'yiqiyuanmei', 'erqiyuanmei', 'xiawangdianliang', 'yiqiyongdianliang', 'erqiyongdianliang', 'yutuoyanshui', 'ranhuashui', 'shizhengwushuichuliliang', 'xinchengtishengbenggongshui', 'yiqisuantuonianhaochun', 'erqisuantuonianhaochun']

data.columns = new_columns
data = data.fillna(0)
data.head()

,cuchun,jingchun,erjiami,cusuan,yichangyierchun,erchangyierchun,yetichanpin,yijing,fadianliang,yiqiyouxiaoqi,...,erqiyuanmei,xiawangdianliang,yiqiyongdianliang,erqiyongdianliang,yutuoyanshui,ranhuashui,shizhengwushuichuliliang,xinchengtishengbenggongshui,yiqisuantuonianhaochun,erqisuantuonianhaochun
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,6.0,0.0,0.0,...,0.0,23.0,6.3,17.2,4342.0,44718.0,1336.0,7700.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0,0.0,0.0,...,0.0,25.0,6.4,18.1,2426.0,52730.0,1726.0,8801.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,8.0,0.0,0.0,...,0.0,24.0,6.1,17.7,1248.0,41558.0,2104.0,7970.0,0.0,0.0

In [11]:
from EDAandPCA import get_pca_features_from_df
from sklearn.model_selection import train_test_split
np.random.seed(45)

X = data.iloc[:, 0:13]
X = get_pca_features_from_df(X)
Y = data.iloc[:, 13:25]


X.shape, Y.shape

((365, 4), (365, 12))

In [12]:
X_train, X_holdout, Y_train, Y_holdout = train_test_split(X, Y, test_size=0.1)

In [13]:
import sklearn.linear_model as lm

linear_model = lm.LinearRegression()

# Fit your linear model
linear_model.fit(X_train, Y_train)

# Predict housing prices on the test set
Y_pred = linear_model.predict(X_holdout)

In [14]:
def rmse(actual_y, predicted_y):
    return np.sqrt(np.mean((predicted_y - actual_y)**2))

train_error = rmse(Y_train, linear_model.predict(X_train))
holdout_error = rmse(Y_holdout, Y_pred)

print("Training RMSE:", train_error)
print("Holdout RMSE:", holdout_error)

Training RMSE: 2135.6236250891857
Holdout RMSE: 2119.2990014723973

## SHAP display

In [15]:

background = shap.utils.sample(X, 100)
explainer = shap.Explainer(linear_model.predict, background)
shap_values = explainer(X)

In [16]:
shap_values

.values =
array([[[-9.73105991e+02, -1.62607265e+03,  4.96230771e+02, ...,
         -8.70749436e+02, -2.56527309e+02, -4.11859454e+02],
        [-6.12624732e+02,  6.17008161e+02, -2.13529402e+03, ...,
          1.94225936e+02, -7.54091520e+01, -1.21898494e+02],
        [-9.61778952e+01, -1.59168757e+02, -2.06232216e+01, ...,
         -4.13847880e+02,  1.64060044e+01,  2.79910799e+01],
        [-5.32825683e+01,  2.42481532e+01,  6.94291398e+01, ...,
          3.01204610e+01, -6.62713365e+00, -2.10075168e+01]],

       [[-9.73105991e+02, -1.62607265e+03,  4.96230771e+02, ...,
         -8.70749436e+02, -2.56527309e+02, -4.11859454e+02],
        [-6.12624732e+02,  6.17008161e+02, -2.13529402e+03, ...,
          1.94225936e+02, -7.54091520e+01, -1.21898494e+02],
        [-9.61778952e+01, -1.59168757e+02, -2.06232216e+01, ...,
         -4.13847880e+02,  1.64060044e+01,  2.79910799e+01],
        [-5.32825683e+01,  2.42481532e+01,  6.94291398e+01, ...,
          3.01204610e+01, -6.62713365e+00, -2.10075168e+01]],

       [[-9.34910770e+02, -1.56224794e+03,  4.76753300e+02, ...,
         -8.36571796e+02, -2.46458398e+02, -3.95693627e+02],
        [-5.87397302e+02,  5.91600223e+02, -2.04736420e+03, ...,
          1.86227856e+02, -7.23038592e+01, -1.16878805e+02],
        [-8.11910394e+01, -1.34366393e+02, -1.74096220e+01, ...,
         -3.49360313e+02,  1.38495498e+01,  2.36293887e+01],
        [-1.53450425e+01,  6.98331469e+00,  1.99951529e+01, ...,
          8.67450215e+00, -1.90857255e+00, -6.05003191e+00]],

       ...,

       [[ 5.69492041e+02,  9.51628537e+02, -2.90409757e+02, ...,
          5.09589786e+02,  1.50127799e+02,  2.41033025e+02],
        [-7.87159779e+01,  7.92792033e+01, -2.74363323e+02, ...,
          2.49560353e+01, -9.68930052e+00, -1.56627029e+01],
        [ 9.65918183e-01,  1.59853776e+00,  2.07119783e-01, ...,
          4.15628968e+00, -1.64766113e-01, -2.81115457e-01],
        [-4.49587776e+01,  2.04601123e+01,  5.85829354e+01, ...,
          2.54150494e+01, -5.59184434e+00, -1.77257273e+01]],

       [[ 6.99648220e+02,  1.16912119e+03, -3.56782281e+02, ...,
          6.26055433e+02,  1.84439184e+02,  2.96120604e+02],
        [-4.70114556e+01,  4.73478300e+01, -1.63857701e+02, ...,
          1.49044651e+01, -5.78673013e+00, -9.35421853e+00],
        [-1.81062227e+01, -2.99647332e+01, -3.88247885e+00, ...,
         -7.79100217e+01,  3.08855552e+00,  5.26953439e+00],
        [-1.04212240e+01,  4.74255362e+00,  1.35792370e+01, ...,
          5.89108374e+00, -1.29616208e+00, -4.10873661e+00]],

       [[ 5.80071571e+02,  9.69307068e+02, -2.95804738e+02, ...,
          5.19056504e+02,  1.52916743e+02,  2.45510728e+02],
        [-1.08195845e+02,  1.08970004e+02, -3.77114944e+02, ...,
          3.43023032e+01, -1.33180339e+01, -2.15285311e+01],
        [-2.19297357e+01, -3.62924223e+01, -4.70234661e+00, ...,
         -9.43623754e+01,  3.74076953e+00,  6.38230836e+00],
        [-1.03704280e+02,  4.71943708e+01,  1.35130479e+02, ...,
          5.86236893e+01, -1.28984422e+01, -4.08870947e+01]]])

.base_values =
array([[2122.09471766, 1031.44990922, 1646.4300363 , ..., 7150.16210128,
         323.58941409,  527.90842591],
       [2122.09471766, 1031.44990922, 1646.4300363 , ..., 7150.16210128,
         323.58941409,  527.90842591],
       [2122.09471766, 1031.44990922, 1646.4300363 , ..., 7150.16210128,
         323.58941409,  527.90842591],
       ...,
       [2122.09471766, 1031.44990922, 1646.4300363 , ..., 7150.16210128,
         323.58941409,  527.90842591],
       [2122.09471766, 1031.44990922, 1646.4300363 , ..., 7150.16210128,
         323.58941409,  527.90842591],
       [2122.09471766, 1031.44990922, 1646.4300363 , ..., 7150.16210128,
         323.58941409,  527.90842591]])

.data =
array([[-1.67080844, -3.73317262,  1.25725845, -1.02313487],
       [-1.67080844, -3.73317262,  1.25725845, -1.02313487],
       [-1.60782605, -3.57468718,  1.06131876, -0.34359078],
       ...,
       [ 0.87287395, -0.37901548, -0.01280973, -0.87403757],
       [ 1.08749628, -0.17983922,  0.23654139, -0.25539442],
       [ 0.89031917, -0.56421587,  0.2865304 , -1.92629804]])

### Create the summary plot for a specific output/label/target.